* {
  font-size: 1.4rem;
  font-family: 'Ubuntu', sans-serif;
}

div {
  padding: 1rem;
}

.area {
  font-size: 0.8rem;
}

form {
  display: flex;
}

button.search {
  margin-left: 10px;
}

.searcher {
  width: 25%;
  min-width: 25rem;
}

.header {
  display: flex;
}
